<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mis a jour</title>
</head>
<body>
<h1>Mis a jour un Patient</h1>
<a href="afficherListPatient">Liste des Patient</a><br>
<a href="ajouterPatient">Ajouter un Patient</a><br>
<a href="supprimierPatient">Supprimier un Patient</a>
<br>
<br>
<div>
<table border="1">
<tr><th>nom</th><th>prenom</th><th>sexe</th><th>date_naissance</th><th>numero_telephone</th><th>adresse</th></tr>
<tr th:each ="p :${liste}">
<td th:utext ="${p.nom}"></td><td th:utext ="${p.prenom}"></td><td th:utext ="${p.sexe}"></td><td th:utext ="${p.dateNaissance}"></td>
<td th:utext ="${p.numeroTelephone}"></td><td th:utext ="${p.adresse}"></td>
<td>
<form th:action="@{misAJourPatient}" method="put">
                  <input type="hidden" name="id" th:value="${p.id}" />
                  <input type="submit" value="Update" class="btn btn-danger" />
              </form>
              </td>
              </tr>
</table>
</div>
</body>
</html>